<form action="<%= action_url %>" method="post" class="session-form">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h1><%= form_type %></h1>
  <label>
    <h3>Username</h3>
    <input type="text" name="user[username]" value="">
  </label>
  <label>
    <h3>Password</h3>
    <input type="password" name="user[password]" value="">
  </label>
  <br>

  <% if flash.now[:errors] %>
    <% flash.now[:errors].each do |error| %>
      <%= error %>
      <br />
    <% end %>
  <% end %>
  <br />
  <input type="submit" value="<%= form_type %>">
</form>
